<p>
  <strong>Upper seats:</strong>
  <%= carriage.upper_seats %>
</p>

<p>
  <strong>Lower seats:</strong>
  <%= carriage.lower_seats %>
</p>

<p>
  <strong>Side upper seats:</strong>
  <%= carriage.side_upper_seats %>
</p>

<p>
  <strong>Side lower seats:</strong>
  <%= carriage.side_lower_seats %>
</p>